@import 'mixins';

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td {
  margin: 0;
  padding: 0;
}

li, ol, ul {
  list-style-type: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
}

* {
  font-family: "Noto Sans TC";
}

img {
  max-width: 100%;
  height: auto;
}

#map {
  height: 100vh;
  width: calc(100% - 360px);
  overflow: hidden;
  float: right;
}

.sidebar {
  width: 320px;
  height: 100%;
  background-color: #F7F7F7;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.sidebar__header {
  h1 {
  }

  .sidebar__source {
    color: grey;
    font-size: 13px;
    width: 110px;

    em {
      font-style: normal;
    }

    .sidebar__today {
      display: block;
    }
  }
}

.banner {
  text-align: center;

  img {
    margin: auto;
  }
}

.sidebar__maskFilter {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;

  input {
    padding: 8px 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-shadow: none;
    color: #7d7b7b;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:first-child {
      background-color: #EF8900;
      color: #ffffff;
    }
  }
}

.maskMap-title {
  font-size: 25px;
  line-height: 2;
  text-align: center;
  margin-top: 20px;
}

.sidebar__store {
  overflow-y: auto;
  max-height: 50vh;

  article {
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 23px 20px 30px;

    h4 {
      font-size: 19px;
      line-height: 1.7;
    }

    ul {
      margin-bottom: 10px;

      li {
        line-height: 1.8;
      }
    }
  }
}
.sidebar__maskNum {
  display: flex;
  justify-content: space-around;

  .mask-type {
    text-align: center;
    padding: 6px 10px;
    background-color: #00C4C3;
    border-radius: 30px;
    color: #fff;
    width: 100%;

    &:first-child {
      margin-right: 5px;
    }
    em {
      font-style: normal;
    }
  }
  .noMask {
    background-color: #ccc;
  }
  &.map__maskNum {
    .mask-type {
      padding: 2px 10px;
    }
  }
}
.sidebar__nowLocation {
  text-align: center;
  margin: 10px 0 20px;
}
.from-group {
  margin: 10px;
  select {
    line-height: 2;
    font-size: 17px;
    padding: 5px;
  }
}
.sidebar__updateTime {
  font-size: 14px;
  color: #cccccc;
  line-height: 3;
  text-align: right;
  display: block;
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);

  div {
    background-color: rgba(110, 204, 57, 0.6);
  }
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);

  div {
    background-color: rgba(240, 194, 12, 0.6);
  }
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);

  div {
    background-color: rgba(241, 128, 23, 0.6);
  }
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;

  div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  span {
    line-height: 30px;
  }
}

//infoWindow
.map__maskNum {
  height: 30px;
}

.leaflet-popup-content h3 {
  font-size: 20px;
  line-height: 1;
}

.map__maskNum {
  div {
    float: left;
    font-size: 16px;
    margin-right: 5px;

    em {
      font-style: normal;
      font-size: 13px;
    }

    &:nth-of-type(1) {
    }

    &:nth-of-type(2) {
    }
  }
}